.header-down {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; /* Adjust max-width as needed */
    margin: 0 auto; /* Centers the nav horizontally */
    
}


.header-down button- {
    flex: 1 0 0; /* Equal flex distribution with initial width of 0 */
    border: none;
    background-color: transparent; /* Transparent background */
    color: blue; /* Dark text color */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.header-down button {
    padding: 10px 20px;
    background-color: transparent; /* Transparent background */
    color: blue; /* Dark text color */
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-down button:hover {
    background-color:white;
}
