.header {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Center items vertically */
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: white; /* Light blue background */
/*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/ /* Shadow for header */
}

.logo {
  flex: 1; /* Take up available space on the left */
}

.logo img {
  height: 40px; /* Adjust height of logo */
}

.header-buttons {
  display: flex;
  gap: 10px; /* Adjust spacing between elements */
}

.auth-buttons {
  margin-left: auto; /* Push buttons to the right */
}

.login-button {
  padding: 8px 16px;
  border: none;
  background-color: #c6c9e7; /* Very light blue */; 
  color: #333333; /* Dark text color */
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for buttons */
}

.login-button:hover {
  background-color: #e0e0e0; /* Light gray background on hover */
}
