.Logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  border-style: none;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 100px;

}


.LoginImageContent {
  max-width: 50%;
  max-height: 100%;
  width: 100%;
  /* Make sure it doesn't exceed its max-width */
  height: 100%;
  /* Make sure it doesn't exceed its max-height */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  border-color: blue;
  border-style: none;
}

.LoginFormContent {
  max-width: 50%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  /* stacks children vertically */
  border-color: blue;
  border-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.LoginTopContent {
  border-style: none;
  border-style: none;
  border-color: green;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 30%;
  border-bottom: 1px solid;
}


.LoginMidContent {
  border-style: none;
  border-style: none;
  border-color: green;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 70%;
  border-bottom: 1px solid;
}

.LoginButtomContent {
  border-style: none;
  border-style: none;
  border-color: green;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  height: 10%;
}



.hellotopper_logo_LoginContent {
  height: 20%;
  width: auto;

}



.RegisterAsstudent {
  text-align: center;
  font-size: 22px;
  margin: 15px 0;

}


.TypeMobNo {

  text-align: center;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.home_button {
  display: flex;
  justify-content: left;
  /* Distribute items evenly */
  background-color: white;
  /* Light blue background */
  border-style: none;
  height: 70px;
  padding: 20px;
}




.LoginNow {
  background-color: transparent;
  border-style: none;
  color: blue;
  cursor: pointer;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;

}

.AlreadyRegistered {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;

}

.LoginCheckBoxTermsConditions {
  text-align: center;
  border-style: none;
  width: 70%;
}

.LoginCheckBox {
  margin-right: 0;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  border-style: none;
}



.button_LoginButtomContent {
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  color: black;

}


.LoginImage {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.homeicon {
  margin: 10px;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  border-style: none;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  color: black;
}


.LoginMidContent_LoginMainFrom {
  border-style: none;
  border-color: black;
  display: flex;
}

form div {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
}


button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}



input {
  padding: 10px;
  border: 1px solid #ccc;
  border-style: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.input:focus {
  outline: none;
}

/* Center-align placeholder text */
.input::placeholder {
  text-align: center;
}

.submitButton {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submitButton :hover:not(:disabled) {
  background-color: #2980b9;
}



.TypeMobNo {
  margin-bottom: 10px;
  font-size: 16px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  border: 3px solid #ccc;
  border-color: blue;
  border-radius: 4px;
  padding: 5px;
  position: relative;
  height: 55px;
}

.prefix {
  display: flex;
  align-items: center;
  padding-right: 5px;
}



.otp-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.otp-inputs {
  display: flex;

  justify-content: space-between;
}

.otp_input_box {
  height: 40px;
  width: 30px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid blue;
  overflow: hidden;
  margin: 0 10px;
}

.verify-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.verify-button:hover {
  background-color: #218838;
}

.success-message {
  color: #28a745;
  font-size: 18px;
  margin-top: 20px;
}